.silicon-valley {
    margin-left: 2%;
    font-weight: bold;
    font-size: x-large;
}

.barra-navegacao {
    margin-left: auto;
}

#menu-navbar a:hover {
    color: red !important;
}

.botao {
    margin-left: auto;
}




.img-principal img {
    background-image: url('./img/silicon_valley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 3%;
}

.info-principal {
    width: 30em;
    height: 10em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 2.5%;
    margin: auto auto auto 0px;
}
/*
.info-principal {
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.479);
    width: 25%;
    padding: 2.5%;
    margin: auto;
}
*/
.info-principal h2 {
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 700;
}



.img-size {
    width: 300px;
    height: 230px;
}

.texto-information {
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(255, 208, 113);
}