.silicon-valley {
    margin-left: 2%;
    font-weight: bold;
    font-size: x-large;
}

.barra-navegacao {
    margin-left: auto;
}

#menu-navbar a:hover {
    color: red !important;
}

.botao {
    margin-left: auto;
}

.img-principal img {
    background-image: url('./img/silicon_valley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 3%;
}

.info-principal {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 1%;
    margin-top: 15%;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .info-principal {
        width: 100%;
        
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .info-principal {
        width: 85%;
    }
}

@media screen and (min-width: 600px) {
    .info-principal {
        width: 60%;
    }
}

.info-principal h2 {
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 700;
}

.img-size {
    width: 300px;
    height: 230px;
}

.texto-information {
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(255, 208, 113);
}